<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Dashboard - SB Admin</title>
    <link
            rel="stylesheet"
            th:href="@{/css/admin/style.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/styles.css}"/>
    <script crossorigin="anonymous"
            th:src="@{/js/admin/fontawesome-all.js}"></script>
</head>

<body class="sb-nav-fixed">
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4" th:fragment="footer">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2023</div>
            <div>
                <a href="#">Privacy Policy</a> &middot; <a href="#">Terms &amp;
                Conditions</a>
            </div>
        </div>
    </div>
</footer>
</body>