<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Rooks - Ddmin</title>
    <link
            rel="stylesheet"
            th:href="@{/css/admin/style.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/styles.css}"/>
    <script crossorigin="anonymous"
            th:src="@{/js/admin/fontawesome-all.js}"></script>
</head>

<body class="sb-nav-fixed">
<div th:fragment="header_nav">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" th:href="@{/}">Rooks</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
                href="#!" id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar Search-->
        <form
                class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown"><a
                    aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                    href="#" id="navbarDropdown" role="button"><i
                    class="fas fa-user fa-fw"></i></a>
                <ul aria-labelledby="navbarDropdown"
                    class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#!">Cài đặt</a></li>
                    <li><a class="dropdown-item" href="#!">Hoạt động</a></li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>