<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>404</title>
    <link rel="stylesheet" th:href="@{/css/admin/styles.css}"/>
    <script crossorigin="anonymous" th:src="@{/js/admin/fontawesome-all.js}"></script>
</head>

<body>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center">
            <h1>404</h1>
            <h1 class="mt-4">Oops! Trang bạn tìm kiếm không tồn tại.</h1>
            <p class="mt-4">
                Trang bạn đang tìm kiếm có thể đã bị di chuyển hoặc không tồn tại.
                Vui lòng kiểm tra lại đường dẫn hoặc quay lại trang chủ.
            </p>
            <a class="btn btn-primary mt-3" th:href="@{/}">Quay lại trang chủ</a>
        </div>
    </div>
</div>

<script crossorigin="anonymous" th:src="@{/js/admin/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/admin/scripts.js}"></script>
</body>

</html>
