<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Admin - Add category</title>
    <link rel="stylesheet" th:href="@{/css/admin/styles.css}"/>
    <script crossorigin="anonymous" th:src="@{/js/admin/fontawesome-all.js}"></script>
</head>

<body>
<div th:replace="admin/fragments/header :: header_nav"></div>
<div id="layoutSidenav">
    <div th:replace="admin/fragments/side_navbar :: side_navbar"></div>
    <!-- Copy den day-->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="alert alert-success" role="alert" th:if="${message}">
                    <p th:text="${message}"></p>
                </div>


                <!-- Chỗ cần thay đổi -->
                <div class="container mt-5">
                    <h2>Thêm - Cập nhật Danh Mục</h2>
                    <form method="post" th:action="@{/admin/categories_management/add_or_update}"
                          th:object="${category}">
                        <!-- Category ID (hidden) -->
                        <input th:field="*{id}" type="hidden"/>

                        <!-- Category Name -->
                        <div class="form-group">
                            <label for="categoryName">Tên danh mục:</label>
                            <input class="form-control mt-2" id="categoryName" placeholder="Enter Category's name" required th:field="*{name}"
                                   type="text"/>
                        </div>
                        <!-- Description -->
                        <div class="form-group">
                            <label for="description">Mô tả:</label>
                            <textarea class="form-control" id="description" placeholder="Enter category's description" rows="6"
                                      th:field="*{description}"></textarea>
                        </div>
                        <!-- Submit Button -->
                        <button class="btn btn-primary mb-3 mt-3 mb-4" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </main>
        <div th:replace="admin/fragments/footer :: footer"></div>
    </div>
</div>
<script crossorigin="anonymous" th:src="@{/js/admin/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/admin/jquery-360-min.js}"></script>
<script th:src="@{/js/admin/scripts.js}"></script>
<script th:src="@{/js/admin/AddOrder.js}"></script>
</body>

</html>