<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Static Navigation - SB Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin/styles.css}"/>
    <script crossorigin="anonymous" th:src="@{/js/admin/fontawesome-all.js}"></script>
</head>

<body>
<!-- Copy tu day-->
<div th:replace="admin/fragments/header :: header_nav"></div>
<div id="layoutSidenav">
    <div th:replace="admin/fragments/side_navbar :: side_navbar"></div>
    <!-- Copy den day-->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">

                <div class="container mt-5">
                    <h1>Quản lý liên hệ</h1>
                    <!-- Dropdown filter -->
                    <form id="yourFormId" method="get" th:action="@{/admin/contacts}">

                        <div class="mb-3">
                            <label for="sortFilter">Sort By:</label>
                            <select class="w-25 form-select" id="sortFilter" name="sort_by" onchange="submitSort();"
                                    th:value="${sortBy}">
                                <option th:selected="${sortBy == 'oldest'}" th:value="oldest">Cũ nhất</option>
                                <option th:selected="${sortBy == 'newest'}" th:value="newest">Mới nhất</option>


                            </select>
                        </div>
                    </form>

                    <script>
                        function submitSort() {
                            document.getElementById("yourFormId").submit();
                        }
                    </script>


                    <!-- Bảng hiển thị danh sách liên hệ -->
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Create At</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="contactList">

                        <tr th:each="contact : ${contacts}">
                            <td th:text="${contact.id}"></td>
                            <td th:text="${contact.name}"></td>
                            <td th:text="${contact.email}"></td>
                            <td th:text="${contact.subject}"></td>
                            <td th:text="${contact.message}"></td>
                            <td th:text="${#dates.format(contact.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>

                            <td>
                                <a class="btn btn-success btn-sm" th:href="@{/admin/contacts/response/__${contact.id}__}"
                                   type="button">Phản hồi</a>
                                <button class="btn btn-danger btn-sm" th:onclick="'deleteContact(' + ${contact.id}+')'">
                                    Xóa
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </main>
        <script>
            function deleteContact(contactId) {
                if (confirm("Bạn muốn xoá liên hệ này ?")) {
                    window.location.href = "/admin/contacts/delete/" + contactId;
                } else {
                    return;
                }
            }
        </script>

        <div class="d-flex justify-content-center" th:if="${totalPages > 1}">
            <ul class="pagination">
                <li th:class="${pageNumber == currentPage + 1 ? 'page-item active' : 'page-item'}"
                    th:each="pageNumber : ${#numbers.sequence(1,totalPages)}">
                    <a class="page-link" th:href="@{/admin/contacts(page=${pageNumber},sort_by=${sortBy})}"
                       th:text="${pageNumber}"></a>
                </li>
            </ul>
        </div>
        <div th:replace="/admin/fragments/footer :: footer"></div>
    </div>
</div>
<script crossorigin="anonymous" th:src=" @{/js/admin/bootstrap.bundle.min.js}">
</script>
<script th:src="@{/js/admin/scripts.js}"></script>
<script th:src="@{/js/admin/contacts.js}"></script>
</body>

</html>