<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Admin - Sản Phẩm</title>
    <link rel="stylesheet" th:href="@{/css/admin/styles.css}"/>
    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script crossorigin="anonymous" th:src="@{/js/admin/fontawesome-all.js}"></script>
</head>

<body>
<!-- Copy tu day-->
<div th:replace="admin/fragments/header :: header_nav"></div>
<div id="layoutSidenav">
    <div th:replace="admin/fragments/side_navbar :: side_navbar"></div>
    <!-- Copy den day-->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">

                <!-- Add this code wherever you want to display the alert message -->
                <div class="alert alert-primary" style="width: 100%"  role="alert" th:if="${message == 'Xoá đồ uống thành công!'}">
                    <p th:text="${message}"></p>
                </div>

                <div class="alert alert-danger" style="width: 100%"  role="alert" th:if="${message == 'Đồ Uống đã có trong các đơn hàng , vui lòng xoá các đơn hàng có đồ uống trước'}">
                    <p th:text="${message}"></p>
                </div>

                <!-- Chỗ cần thay đổi -->
                <div class="container mt-5">
                    <h1>Danh đồ uống sản phẩm</h1>
                    <a class="btn btn-primary mb-3" th:href="@{/admin/drinks_management/add}">Thêm sản phẩm</a>

                    <form class="mb-5" th:action="@{/admin/drinks_management}" th:method="get" th:object="${search}">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="categoryId">Tìm theo danh mục:</label>
                                    <select class="form-select" id="categoryId" name="categoryId"
                                            th:field="*{categoryId}">
                                        <option selected value="">Tất cả danh mục</option>
                                        <option th:each="category : ${categories}" th:text="${category.name}"
                                                th:value="${category.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="keyword">Từ khoá:</label>
                                    <input class="form-control" id="keyword" name="keyword" placeholder="Nhập từ khoá tìm kiếm"
                                           th:field="*{keyword}" type="text"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <button class="btn mt-4 btn-primary" type="submit">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên đồ uống</th>
                            <th>Tác giả</th>
                            <th>Nhà xuất bản</th>
                            <th>Ngày xuất bản</th>
                            <th>Giá gốc</th>
                            <th>Giá sale</th>
                            <th>Số lượng</th>
                            <th>Số trang</th>
                            <th>Ảnh bìa</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="userlist">
                        <tr th:each="drink : ${drinkPage}">
                            <td th:text="${drink.id}"></td>
                            <td th:text="${drink.title}"></td>
                            <td th:text="${drink.author}"></td>
                            <td th:text="${drink.publisher}"></td>
                            <td th:text="${#dates.format(drink.publishedDate, 'dd/MM/yyyy')}"></td>

                            <td th:text="${#numbers.formatDecimal(__${(drink.originalPrice)}__, 0, 'POINT', 0, 'POINT')} + ' VND'"></td>
                            <td
                                    th:text="${#numbers.formatDecimal(__${(drink.salePrice)}__, 0, 'POINT', 0, 'POINT')} + ' VND'"
                            ></td>
                            <td th:text="${drink.qty}"></td>
                            <td th:text="${drink.numberOfPages}"></td>
                            <td><img class="drinkImage"
                                     style="max-width: 100px;"
                                     th:src="${drink.coverImage}"></td>
                            <td style="width: 12rem;">
                                <a class="btn btn-primary btn-sm"
                                   th:href="@{/admin/drinks_management/edit/__${drink.id}__}" type="button">Cập nhật</a>
                                <button class="btn btn-sm btn-delete"
                                        th:classappend="${drink.activeFlag ? 'btn-danger' : 'btn-warning'}"
                                        th:data-drink-id="${drink.id}"
                                        th:data-action="${drink.activeFlag ? false : true}"
                                        th:text="${drink.activeFlag ? 'Không bán' : 'Kích hoạt'}"
                                        onclick="deleteAction()"
                                        type="button">
                                </button>

                            </td>

                        </tr>

                        </tbody>
                    </table>

                    <!-- Hiển thị các phân trang -->
                    <div class="d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
                                    <a class="page-link" th:href="@{/admin/drinks_management(page=1)}"
                                       th:if="${currentPage > 1}">First</a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
                                    <a class="page-link" th:href="@{/admin/drinks_management(page=${currentPage - 1})}"
                                       th:if="${currentPage > 1}">Previous</a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
                                    <a class="page-link" th:href="@{/admin/drinks_management(page=${currentPage + 1})}"
                                       th:if="${currentPage < totalPages}">Next</a>
                                </li>
                                <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
                                    <a class="page-link" th:href="@{/admin/drinks_management(page=${totalPages})}"
                                       th:if="${currentPage < totalPages}">Last</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </main>
        <div th:replace="admin/fragments/footer :: footer"></div>
    </div>
</div>

<!-- Modal for Delete Confirmation -->
<div aria-hidden="true" aria-labelledby="deleteConfirmationModalLabel" class="modal fade" id="deleteConfirmationModal"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Xác nhận cập nhật trạng thái sản phẩm</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn cập nhật trạng thái sản phẩm này không?
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Hủy</button>
                <a class="btn btn-danger" id="deleteButton">Cập nhật</a>
            </div>
        </div>
    </div>
</div>

<script crossorigin="anonymous" th:src="@{/js/admin/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/admin/scripts.js}"></script>
<script th:src="@{/js/admin/contacts.js}"></script>

<!-- JavaScript for Delete Confirmation -->
<script>
    $(document).ready(function () {
        $(".btn-delete").on("click", function () {
            var drinkId = $(this).attr("data-drink-id");
            var action = $(this).attr("data-action");
            var deleteUrl = "/admin/drinks_management/delete/" + drinkId + "?activeFlag=" + action;

            $("#deleteButton").attr("href", deleteUrl);
            $("#deleteConfirmationModal").modal("show");

        });
    });


    function deleteAction() {
        var drinkId = $(this).attr("data-drink-id");
        var action = $(this).attr("data-action");
        var deleteUrl = "/admin/drinks_management/delete/" + drinkId + "?activeFlag=" + action;

        $("#deleteButton").attr("href", deleteUrl);
        $("#deleteConfirmationModal").modal("show");

    }
</script>
</body>

</html>