<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Static Navigation - SB Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin/styles.css}"/>
    <script crossorigin="anonymous" th:src="@{/js/admin/fontawesome-all.js}"></script>
</head>

<body>
<div th:replace="admin/fragments/header :: header_nav"></div>
<div id="layoutSidenav">
    <div th:replace="admin/fragments/side_navbar :: side_navbar"></div>
    <!-- Copy den day-->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">

                <!-- Chỗ cần thay đổi -->
                <div class="container mt-5">
                    <h1>Danh Đồ Uống Đơn Hàng</h1>
                    <form method="get" th:action="@{/admin/orders_management}">
                        <select name="status">
                            <option th:selected="${selectedStatus == null}" value="">All</option>
                            <option th:selected="${selectedStatus == 'PROCESSING'}" value="PROCESSING">Processing
                            </option>
                            <option th:selected="${selectedStatus == 'PENDING'}" value="PENDING">Pending</option>
                            <option th:selected="${selectedStatus == 'DELIVERING'}" value="DELIVERING">Delivering
                            </option>
                            <option th:selected="${selectedStatus == 'DELIVERED'}" value="DELIVERED">Delivered</option>
                            <option th:selected="${selectedStatus == 'CANCELLED'}" value="CANCELLED">Cancelled</option>
                        </select>
                        <button type="submit">Filter</button>
                    </form>
                    <table class="table table-striped table-hover table-bordered mt-4">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Mã đơn hàng</th>
                            <th>Người nhận</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Ngày tạo</th>
                            <th>Tổng giá</th>
                            <th>Trạng thái</th>
                            <th>Phương thức thanh toán</th>

                            <th>Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orderPage}">
                            <td th:text="${order.id}"></td>
                            <td th:text="${order.code == null ? '' : order.code}"></td>
                            <td th:text="${order.reciever}"></td>
                            <td th:text="${order.phoneNumber}"></td>
                            <td th:text="${order.emailAddress}"></td>
                            <td th:text="${#dates.format(order.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td
                                    th:text="${#numbers.formatDecimal(__${(order.totalPrice)}__, 0, 'POINT', 0, 'POINT')} + ' VND'"
                            ></td>
                            <td th:text="${order.status}"></td>
                            <td th:text="${order.paymentMethod}"></td>
                            <td><a class="text text-primary"
                                   th:href="@{/admin/orders_management/details/__${order.id}__}">Chi tiết</a></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-center" th:if="${totalPages > 1}">
                        <ul class="pagination">
                            <li th:class="${pageNumber == currentPage+1 ? 'page-item active' : 'page-item'}"
                                th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                                <a class="page-link"
                                   th:href="@{/admin/orders_management(page=${pageNumber}, status=${selectedStatus})}" th:text="${pageNumber}"></a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </main>
        <div th:replace="admin/fragments/footer :: footer"></div>
    </div>
</div>
<script crossorigin="anonymous" th:src="@{/js/admin/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/admin/scripts.js}"></script>
<script th:src="@{/js/admin/Order.js}"></script>

</body>

</html>