<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Static Navigation - SB Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin/styles.css}"/>
    <script crossorigin="anonymous" th:src="@{/js/admin/fontawesome-all.js}"></script>
</head>

<body>
<div th:replace="admin/fragments/header :: header_nav"></div>
<div id="layoutSidenav">
    <div th:replace="admin/fragments/side_navbar :: side_navbar"></div>
    <!-- Copy den day-->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">

                <!-- Chỗ cần thay đổi -->
                <div class="container mt-5">
                    <h1>Danh Đồ Uống Người Dùng</h1>
                    <table class="table mt-5 table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên người dùng</th>
                            <th>Họ và tên</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="userlist">

                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.fullName}"></td>
                            <td th:text="${user.phoneNumber}"></td>
                            <td th:text="${user.address}"></td>
                            <td>
										<span th:each="role : ${user.getRoles()}">
											<a class="btn btn-primary btn-sm" href="#" th:if="${role.name == 'ROLE_ADMIN'}"
                                               th:text="ADMIN" type="button"></a>
											<a class="btn btn-primary btn-sm" href="#" th:if="${role.name == 'ROLE_USER'}"
                                               th:text="user" type="button"></a>
										</span>

                                <span th:each="role : ${user.getRoles()}">
											<button class="btn btn-danger btn-sm" data-toggle="modal"
                                                    href="#"
                                                    th:onclick="'deleteUser('+ ${user.id} +')'"
                                                    th:unless="${role.name == 'ROLE_ADMIN'}">Xóa</button>
										</span>

                            </td>
                        </tr>


                        </tbody>
                    </table>


                    <script>
                        function deleteUser(userId) {
                            if (confirm('Bạn có chắc chắn muốn xóa người dùng này không?')) {
                                window.location.href = '/admin/users_management/delete_user/' + userId;
                            }
                        }
                    </script>

                    <div class="d-flex justify-content-center" th:if="${users.totalPages > 1}">
                        <ul class="pagination">
                            <li th:class="${pageNumber == users.getNumber() +1 ? 'page-item active' : 'page-item'}"
                                th:each="pageNumber : ${#numbers.sequence(1, users.totalPages)}">
                                <a class="page-link" th:href="@{/admin/users_management(page=${pageNumber})}"
                                   th:text="${pageNumber}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="/admin/fragments/footer :: footer"></div>
    </div>
</div>
<script crossorigin="anonymous" th:src="@{/js/admin/bootstrap.bundle.min.js}"></script>
<script src="@{/js/admin/scripts.js}"></script>
<script src="@{/js/admin/contacts.js}"></script>
</body>

</html>