<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Juice Drinks Store</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel=" apple-touch-icon" th:href="@{/images/icon.png}" }>

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link rel="stylesheet" th:href="@{/css/user/open_sans.css}">
    <link rel="stylesheet" th:href="@{/css/user/poppins.css}">
    <link rel="stylesheet" th:href="@{/css/user/roboto.css}">

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/css/user/bootstrap.min.css}">

    <!-- Plugins css -->
    <link rel="stylesheet" th:href="@{/css/user/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/bicon.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/pe-icon-7-stroke.css}">
    <link rel="stylesheet" th:href="@{/css/user/slick.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/fakeloader.css}">
    <link rel="stylesheet" th:href="@{/css/user/nivo-slider.css}">
    <link rel="stylesheet" th:href="@{/css/user/nivo-preview-2.css}">
    <link rel="stylesheet" th:href="@{/css/user/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/animation.css}">
    <link rel="stylesheet" th:href="@{/css/user/fancybox.css}">
    <link rel="stylesheet" th:href="@{/css/user/mainmenu.css}">
    <link rel="stylesheet" th:href="@{/css/user/fotorama.css}">
    <link rel="stylesheet" th:href="@{/css/user/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/lightbox.css}">
    <link rel="stylesheet" th:href="@{/css/user/style.css}">
    <!-- Cusom css -->
    <link rel="stylesheet" th:href="@{/css/user/custom.css}">

    <!-- Modernizer js -->
    <script th:src="@{/js/user/vendor/modernizr-3.5.0.min.js}"></script>

    <style>
        .mainmenu__nav .meninmenu li a  {
            color: white;
        }
    </style>

    <style>
        .ft__logo a img {
            max-width: 20%;
        }

        input {
            max-width: 400px;
        }

        textarea {
            max-width: 400px;
            max-height: 600px;
        }

        .map {
            height: 180px;
        }
    </style>


</head>

<body>
<!-- Main wrapper -->
<div class="wrapper" id="wrapper">
    <!-- Header -->
    <header th:replace="~{user/fragments/header :: header}"></header>
    <!-- //Header -->

    <!-- Start Slider area -->
    <div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
        <!-- Start Single Slide -->
        <div class="slide animation__style10 bg-image--1 fullscreen align__center--left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider__content">
                            <div class="contentbox">
<!--                                <h2>Mua các <span>loại đồ uống </span></h2>-->
<!--                                <h2>yêu thích <span>của bạn </span></h2>-->
<!--                                <h2>tại <span>đây </span></h2>-->
<!--                                <a class="shopbtn" th:href="@{/shop}">Mua hàng ngay</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="slide animation__style10 bg-image--2 fullscreen align__center--left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider__content">
<!--                            <div class="contentbox">-->
<!--                                <h2>Mua các <span>loại đồ uống </span></h2>-->
<!--                                <h2>yêu thích <span>của bạn </span></h2>-->
<!--                                <h2>tại <span>đây </span></h2>-->
<!--                                <a class="shopbtn" th:href="@{/shop}">Mua hàng ngay</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
    <!-- End Slider area -->
</div>
<!--&lt;!&ndash; Start Search Popup &ndash;&gt;-->
<!--<div th:replace="user/fragments/search_popup :: search_popup"></div>-->
<!--&lt;!&ndash; End Search Popup &ndash;&gt;-->

<!-- Start Blog Area -->
<div class="page-blog bg--white section-padding--lg blog-sidebar right-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="blog-page">
                    <div class="page__header">
                        <h2>Danh đồ uống các bài viết</h2>
                    </div>
                    <!-- Start Single Post -->
                    <article class="blog__post d-flex flex-wrap" th:each="blog : ${blogList}">
                        <div class="thumb">
                            <a th:href="@{/blogs/get/__${blog.id}__}">
                                <img th:src="${blog.thumbnail}" alt="blog images">
                            </a>
                        </div>
                        <div class="content">
                            <h4><a th:href="@{/blogs/get/__${blog.id}__}" th:text="${blog.title}"></a></h4>
                            <ul class="post__meta">
                                <li>Posts by : <a th:href="@{/blogs/get/__${blog.id}__}" th:text="${blog.user.getFullName()}"></a></li>
                                <li class="post_separator">/</li>
                                <li th:text="${#dates.format(blog.createdAt, 'dd-MM-yyyy')}"></li>
                            </ul>
                            <p th:text="${blog.summary}"></p>
                            <div class="blog__btn">
                                <a th:href="@{/blogs/get/__${blog.id}__}">read more</a>
                            </div>
                        </div>
                    </article>
                    <!-- End Single Post -->

                </div>
<!--                <ul class="wn__pagination">-->
<!--                    <li class="active"><a href="#">1</a></li>-->
<!--                    <li><a href="#">2</a></li>-->
<!--                    <li><a href="#">3</a></li>-->
<!--                    <li><a href="#">4</a></li>-->
<!--                    <li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>-->
<!--                </ul>-->

                <ul class="wn__pagination" th:if="${totalPages > 1}">
                    <li th:class="${pageNumber == currentPage+1 ? 'page-item active' : 'page-item'}"
                        th:each="pageNumber : ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{/blogs(page=${pageNumber})}" th:text="${pageNumber}">1</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
                <div class="wn__sidebar">
                    <!-- Start Single Widget -->
                    <aside class="widget search_widget">
                        <h3 class="widget-title">Search</h3>
                        <form action="#">
                            <div class="form-input">
                                <input type="text" placeholder="Search...">
                                <button><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </aside>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <aside class="widget recent_widget">
                        <h3 class="widget-title">Recent</h3>
                        <div class="recent-posts">
                            <ul>
                                <li th:each="recentBlog : ${top6RecentBlogList}">
                                    <div class="post-wrapper d-flex">
                                        <div class="thumb">
                                            <a th:href="@{/blogs/get/__${recentBlog.id}__}"><img th:src="${recentBlog.thumbnail}" alt="blog images"></a>
                                        </div>
                                        <div class="content">
                                            <h4><a th:href="@{/blogs/get/__${recentBlog.id}__}" th:text="${recentBlog.title}"></a></h4>
                                            <p th:text="${#dates.format(recentBlog.getCreatedAt(), 'dd-MM-yyyy')}"></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                    <!-- End Single Widget -->
<!--                    &lt;!&ndash; Start Single Widget &ndash;&gt;-->
<!--                    <aside class="widget comment_widget">-->
<!--                        <h3 class="widget-title">Comments</h3>-->
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <div class="post-wrapper">-->
<!--                                    <div class="thumb">-->
<!--                                        <img src="images/blog/comment/1.jpeg" alt="Comment images">-->
<!--                                    </div>-->
<!--                                    <div class="content">-->
<!--                                        <p>demo says:</p>-->
<!--                                        <a href="#">Quisque semper nunc vitae...</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="post-wrapper">-->
<!--                                    <div class="thumb">-->
<!--                                        <img src="images/blog/comment/1.jpeg" alt="Comment images">-->
<!--                                    </div>-->
<!--                                    <div class="content">-->
<!--                                        <p>Admin says:</p>-->
<!--                                        <a href="#">Curabitur aliquet pulvinar...</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="post-wrapper">-->
<!--                                    <div class="thumb">-->
<!--                                        <img src="images/blog/comment/1.jpeg" alt="Comment images">-->
<!--                                    </div>-->
<!--                                    <div class="content">-->
<!--                                        <p>Irin says:</p>-->
<!--                                        <a href="#">Quisque semper nunc vitae...</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="post-wrapper">-->
<!--                                    <div class="thumb">-->
<!--                                        <img src="images/blog/comment/1.jpeg" alt="Comment images">-->
<!--                                    </div>-->
<!--                                    <div class="content">-->
<!--                                        <p>Boighor says:</p>-->
<!--                                        <a href="#">Quisque semper nunc vitae...</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="post-wrapper">-->
<!--                                    <div class="thumb">-->
<!--                                        <img src="images/blog/comment/1.jpeg" alt="Comment images">-->
<!--                                    </div>-->
<!--                                    <div class="content">-->
<!--                                        <p>demo says:</p>-->
<!--                                        <a href="#">Quisque semper nunc vitae...</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </aside>-->
<!--                    &lt;!&ndash; End Single Widget &ndash;&gt;-->
                    <!-- Start Single Widget -->
<!--                    <aside class="widget category_widget">-->
<!--                        <h3 class="widget-title">Categories</h3>-->
<!--                        <ul>-->
<!--                            <li><a href="#">Fashion</a></li>-->
<!--                            <li><a href="#">Creative</a></li>-->
<!--                            <li><a href="#">Electronics</a></li>-->
<!--                            <li><a href="#">Kids</a></li>-->
<!--                            <li><a href="#">Flower</a></li>-->
<!--                            <li><a href="#">Drinks</a></li>-->
<!--                            <li><a href="#">Jewelle</a></li>-->
<!--                        </ul>-->
<!--                    </aside>-->
                    <!-- End Single Widget -->
<!--                    &lt;!&ndash; Start Single Widget &ndash;&gt;-->
<!--                    <aside class="widget archives_widget">-->
<!--                        <h3 class="widget-title">Archives</h3>-->
<!--                        <ul>-->
<!--                            <li><a href="#">March 2015</a></li>-->
<!--                            <li><a href="#">December 2014</a></li>-->
<!--                            <li><a href="#">November 2014</a></li>-->
<!--                            <li><a href="#">September 2014</a></li>-->
<!--                            <li><a href="#">August 2014</a></li>-->
<!--                        </ul>-->
<!--                    </aside>-->
<!--                    &lt;!&ndash; End Single Widget &ndash;&gt;-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Area -->

<!-- Footer Area -->
<footer th:replace="user/fragments/footer :: footer"></footer>
<!-- //Footer Area -->
</body>