<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Juice Drinks Store</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel=" apple-touch-icon" th:href="@{/images/icon.png}" }>

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link rel="stylesheet" th:href="@{/css/user/open_sans.css}">
    <link rel="stylesheet" th:href="@{/css/user/poppins.css}">
    <link rel="stylesheet" th:href="@{/css/user/roboto.css}">

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/css/user/bootstrap.min.css}">

    <!-- Plugins css -->
    <link rel="stylesheet" th:href="@{/css/user/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/bicon.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/pe-icon-7-stroke.css}">
    <link rel="stylesheet" th:href="@{/css/user/slick.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/fakeloader.css}">
    <link rel="stylesheet" th:href="@{/css/user/nivo-slider.css}">
    <link rel="stylesheet" th:href="@{/css/user/nivo-preview-2.css}">
    <link rel="stylesheet" th:href="@{/css/user/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/animation.css}">
    <link rel="stylesheet" th:href="@{/css/user/fancybox.css}">
    <link rel="stylesheet" th:href="@{/css/user/mainmenu.css}">
    <link rel="stylesheet" th:href="@{/css/user/fotorama.css}">
    <link rel="stylesheet" th:href="@{/css/user/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/lightbox.css}">
    <link rel="stylesheet" th:href="@{/css/user/style.css}">


    <!-- Cusom css -->
    <link rel="stylesheet" th:href="@{/css/user/custom.css}">

    <!-- Modernizer js -->
    <script th:src="@{/js/user/vendor/modernizr-3.5.0.min.js}"></script>

    <link th:href="@{/css/leaflet.css}"/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script th:src="@{/js/leaflet.js}"></script>

    <style>
        .ft__logo a img {
            max-width: 20%;
        }

        input {
            max-width: 400px;
        }

        textarea {
            max-width: 400px;
            max-height: 600px;
        }

        .map {
            height: 180px;
        }
    </style>

</head>

<body>


<!-- Main wrapper -->
<div class="wrapper" id="wrapper">

    <!-- Header -->
    <header th:replace="~{user/fragments/header :: header}"></header>
    <!-- //Header -->
    <!-- End Search Popup -->
    <!-- Start Slider area -->
    <div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
        <!-- Start Single Slide -->
        <div class="slide animation__style10 bg-image--1 fullscreen align__center--left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider__content">
                            <!-- <div class="contentbox">
                                <h2>Mua các <span>loại đồ uống </span></h2>
                                <h2>yêu thích <span>của bạn </span></h2>
                                <h2>tại <span>đây </span></h2>
                                <a class="shopbtn" th:href="@{/shop}">Mua hàng ngay</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="slide animation__style10 bg-image--2 fullscreen align__center--left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider__content">
                            <!-- <div class="contentbox">
                                <h2>Mua các <span>loại đồ uống </span></h2>
                                <h2>yêu thích <span>của bạn </span></h2>
                                <h2>tại <span>đây </span></h2>
                                <a class="shopbtn" th:href="@{/shop}">Mua hàng ngay</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
    <!-- End Slider area -->
    <!-- Start Contact Area -->

    <section class="wn_contact_area bg--white pt--80 pb--80">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="contact-form-wrap">
                        <h2 class="contact__title">Liên hệ với chúng tôi</h2>
                        <div class="alert alert-success" role="alert" th:if="${param.success}"
                             th:text="${thankForContacting}">
                        </div>
                        <!-- ... -->
                        <form th:action="@{/contact/submit}" th:method="post" th:object="${contact}">
                            <div class="mb-3">
                                <label class="form-label" for="fullname">Họ tên</label>
                                <input class="form-control" id="fullname" required th:field="*{name}" type="text">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" id="email" required th:field="*{email}" type="email">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="title">Tiêu đề</label>
                                <input class="form-control" id="title" required th:field="*{subject}" type="text">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="message">Nội dung</label>
                                <textarea class="form-control" id="message" name="message" required
                                          rows="4" th:field="*{message}"></textarea>
                            </div>
                            <button class="btn btn-dark" type="submit">Gửi</button>
                        </form>
                        <!-- ... -->

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Area -->
    <!--		<div id="map"></div>-->
    <!-- Footer Area -->
    <footer th:replace="user/fragments/footer :: footer"></footer>
    <!-- //Footer Area -->


</div>
<!-- //Main wrapper -->
<!-- JS Files -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script th:src="@{/js/user/vendor/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/user/popper.min.js}"></script>
<script th:src="@{/js/user/bootstrap.min.js}"></script>
<script th:src="@{/js/user/plugins.js}"></script>
<script th:src="@{/js/user/active.js}"></script>
<!-- Google Map js -->

<script th:src="@{/js/user/active.js}"></script>

<script type="text/javascript">
    var map = L.map('map').setView([51.505, -0.09], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([51.5, -0.09]).addTo(map)
        .bindPopup('A pretty CSS popup.<br> Easily customizable.')
        .openPopup();


</script>

</body>

</html>