<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Cửa hàng đồ uống Rooks</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{/images/icon.png}"}>

    <!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
    <link rel="stylesheet" th:href="@{/css/user/open_sans.css}">
    <link rel="stylesheet" th:href="@{/css/user/poppins.css}">
    <link rel="stylesheet" th:href="@{/css/user/roboto.css}">

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/css/user/bootstrap.min.css}">

    <!-- Plugins css -->
    <link rel="stylesheet" th:href="@{/css/user/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/bicon.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/pe-icon-7-stroke.css}">
    <link rel="stylesheet" th:href="@{/css/user/slick.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/fakeloader.css}">
    <link rel="stylesheet" th:href="@{/css/user/nivo-slider.css}">
    <link rel="stylesheet" th:href="@{/css/user/nivo-preview-2.css}">
    <link rel="stylesheet" th:href="@{/css/user/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/animation.css}">
    <link rel="stylesheet" th:href="@{/css/user/fancybox.css}">
    <link rel="stylesheet" th:href="@{/css/user/mainmenu.css}">
    <link rel="stylesheet" th:href="@{/css/user/fotorama.css}">
    <link rel="stylesheet" th:href="@{/css/user/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/lightbox.css}">
    <link rel="stylesheet" th:href="@{/css/user/style.css}">
    <!-- Cusom css -->
    <link rel="stylesheet" th:href="@{/css/user/custom.css}">

    <!-- Modernizer js -->
    <script th:src="@{/js/user/vendor/modernizr-3.5.0.min.js}"></script>

    <style>
        .ft__logo a img {
            max-width: 20%;
        }
    </style>
    <style>

        .prod {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .product_img {
            height: 300px;
            overflow: hidden;
            display: block;
        }

        .product_img img {
            height: 100%;
            width: auto !important;
        }

        .title-container {
            height: 60px;
        }

    </style>
</head>

<body>
<!-- Main wrapper -->
<div class="wrapper" id="wrapper">
    <!-- Header -->
    <header th:replace="~{user/fragments/header :: header}"></header>
    <!-- //Header -->
    <!-- Start Search Popup -->
    <div th:replace="user/fragments/search_popup :: search_popup"></div>
    <!-- End Search Popup -->
    <!-- Start Slider area -->
    <div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme" >
        <!-- Start Single Slide -->
        <div class="slide animation__style10 bg-image--1 fullscreen align__center--left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider__content">
                            <!-- <div class="contentbox">
                                <h2>Mua các <span>loại đồ uống </span></h2>
                                <h2>yêu thích <span>của bạn </span></h2>
                                <h2>tại <span>đây </span></h2>
                                <a class="shopbtn" th:href="@{/shop}">Mua hàng ngay</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="slide animation__style10 bg-image--2 fullscreen align__center--left">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider__content">
                            <div class="contentbox" style="font-family: 'Poppins', sans-serif; !important;">
                                <h2>Mua các <span>loại đồ uống </span></h2>
                                <h2>yêu thích <span>của bn </span></h2>
                                <h2>tại <span>đây </span></h2>
                                <a class="shopbtn" th:href="@{/shop}">Mua hàng ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
    <!-- End Slider area -->

    <!-- Start Best Seller Area -->
    <section class="wn__bestseller__area bg--white pt--80 pb--30" style="background-color: #CCFFFF !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__title text-center">
                        <h2 class="title__be--2">
                            Đồ Uống <span class="color--theme">Mới</span>
                        </h2>
                        <p>
                            Những loại đồ uống mới nhất trên thị trường đều có tại đây
                        </p>
                    </div>
                </div>
            </div>

            <div class="tab__container mt--60">
                <!-- Start Single Tab Content -->
                <div class="row single__tab tab-pane fade show active" id="nav-all" role="tabpanel">
                    <div class="product__indicator--4 arrows_style owl-carousel owl-theme">
                        <!-- Start Single Product -->
                        <div class="product product__style--3" th:each="drink : ${newProducts}">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                <p id="drinkDescription" th:text="${drink.description}" hidden="hidden">

                                </p>
                                <div class="product__thumb">
                                    <a class="first__img" th:href="@{/shop/product/__${drink.id}__}"><img style="width: 263px; height: 420px" th:src="${drink.coverImage}" alt="product image"></a>
                                    <!--                            <a class="second__img animation1" href="single-product.html"><img src="images/drinks/2.jpg" alt="product image"></a>-->
                                    <div class="hot__box">
                                        <span class="hot-label">MỚI</span>
                                    </div>
                                </div>
                                <div class="product__content content--center">
                                    <h4><a th:href="@{/shop/product/__${drink.id}__}" th:text="${drink.title}"></a></h4>
                                    <ul class="prize d-flex">
                                        <li th:text="${#numbers.formatDecimal(__${(drink.salePrice)}__, 0, 'POINT', 0, 'POINT')} + ' VND'"></li>
                                        <li class="old_prize" th:text="${#numbers.formatDecimal(__${(drink.originalPrice)}__, 0, 'POINT', 0, 'POINT')} + ' VND'"></li>
                                    </ul>
                                    <div class="action">
                                        <div class="actions_inner">
                                            <ul class="add_to_links">
                                                <li><a class="cart" th:onclick="'addToCart(' + ${drink.id} + ')'"><i class="bi bi-shopping-bag4"></i></a></li>
                                                <li><a class="wishlist" th:onclick="'addToWishlist(' + ${drink.id} + ')'"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                <li><a class="compare" id="readButton" th:onclick="'readDescription()'"><i class="bi bi-heart-beat"></i></a></li>
                                                <li><a data-toggle="modal" id="openModalButton2" th:onclick="'openModal(event, ' + ${drink.id} + ')'" title="Quick View" class="quickview modal-view detail-link"><i class="bi bi-search"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__hover--content">
                                        <ul class="rating d-flex">
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li class="on"><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->
                    </div>
                </div>
                <!-- End Single Tab Content -->
            </div>

        </div>
    </section>

    <!-- Start BEst Seller Area -->
    <section class="wn__product__area brown--color pt--80  pb--30" style="background-color: #FFFFCC !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__title text-center">
                        <h2 class="title__be--2">Bán <span class="color--theme">chạy nhất</span></h2>
                        <p>Khám phá những loại đồ uống bán chạy nhất hiện nay tại cửa hàng của chúng tôi</p>
                    </div>
                </div>
            </div>
            <!-- Start Single Tab Content -->
            <div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
                <!-- Start Single Product -->
                <div class="product product__style--3" th:each="drink : ${newProducts}">

                    <p id="drinkDescription2" th:text="${drink.description}" hidden="hidden">

                    </p>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="product__thumb">
                            <a class="first__img" th:href="@{/shop/product/__${drink.id}__}"><img style="width: 263px; height: 420px" th:src="${drink.coverImage}" alt="product image"></a>
                            <!--                            <a class="second__img animation1" href="single-product.html"><img src="images/drinks/2.jpg" alt="product image"></a>-->
                            <div class="hot__box">
                                <span class="hot-label">BEST SELLER</span>
                            </div>
                        </div>
                        <div class="product__content content--center">
                            <h4><a th:href="@{/shop/product/__${drink.id}__}" th:text="${drink.title}"></a></h4>
                            <ul class="prize d-flex">
                                <li th:text="${#numbers.formatDecimal(__${(drink.salePrice)}__, 0, 'POINT', 0, 'POINT')} + ' VND'"></li>
                                <li class="old_prize" th:text="${#numbers.formatDecimal(__${(drink.originalPrice)}__, 0, 'POINT', 0, 'POINT')} + ' VND'"></li>
                            </ul>
                            <div class="action">
                                <div class="actions_inner">
                                    <ul class="add_to_links">
                                        <li><a class="cart" th:onclick="'addToCart(' + ${drink.id} + ')'"><i class="bi bi-shopping-bag4"></i></a></li>
                                        <li><a class="wishlist" th:onclick="'addToWishlist(' + ${drink.id} + ')'"><i class="bi bi-shopping-cart-full"></i></a></li>
                                        <li><a class="compare" id="readButton2" th:onclick="'readDescription2()'"><i class="bi bi-heart-beat"></i></a></li>
                                        <li><a data-toggle="modal" id="openModalButton" th:onclick="'openModal(event, ' + ${drink.id} + ')'" title="Quick View" class="quickview modal-view detail-link"><i class="bi bi-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__hover--content">
                                <ul class="rating d-flex">
                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Single Product -->


            </div>
        </div>
        <!-- End Single Tab Content -->
    </section>
    <!-- Start BEst Seller Area -->

    <!-- Add this section if the user is logged in -->
    <section th:if="${currentUser != null and recommendedDrinks != null and not #lists.isEmpty(recommendedDrinks)}" class="wn__product__area brown--color pt--80 pb--30" style="background-color: #99FF99 !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__title text-center">
                        <h2 class="title__be--2">Đề xuất <span class="color--theme">cho bạn</span></h2>
                        <p>Dựa trên sở thích và lịch sử tương tác của bạn</p>
                    </div>
                </div>
            </div>
            <!-- Start Single Tab Content -->
            <div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
                <!-- Start Single Product -->
                <div class="product product__style--3" th:each="drink : ${recommendedDrinks}">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="product__thumb">
                            <a class="first__img" th:href="@{/shop/product/__${drink.id}__}">
                                <img style="width: 263px; height: 420px" th:src="${drink.coverImage}" alt="product image">
                            </a>
                            <div class="hot__box">
                                <span class="hot-label">ĐỀ XUẤT</span>
                            </div>
                        </div>
                        <div class="product__content content--center">
                            <h4><a th:href="@{/shop/product/__${drink.id}__}" th:text="${drink.title}"></a></h4>
                            <ul class="prize d-flex">
                                <li th:text="${#numbers.formatDecimal(__${(drink.salePrice)}__, 0, 'POINT', 0, 'POINT')} + ' VND'"></li>
                                <li class="old_prize" th:text="${#numbers.formatDecimal(__${(drink.originalPrice)}__, 0, 'POINT', 0, 'POINT')} + ' VND'"></li>
                            </ul>
                            <div class="action">
                                <div class="actions_inner">
                                    <ul class="add_to_links">
                                        <li><a class="cart" th:onclick="'addToCart(' + ${drink.id} + ')'"><i class="bi bi-shopping-bag4"></i></a></li>
                                        <li><a class="wishlist" th:onclick="'addToWishlist(' + ${drink.id} + ')'"><i class="bi bi-shopping-cart-full"></i></a></li>
                                        <li><a data-toggle="modal" th:onclick="'openModal(event, ' + ${drink.id} + ')'" title="Quick View" class="quickview modal-view detail-link"><i class="bi bi-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__hover--content">
                                <ul class="rating d-flex">
                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
            </div>
            <!-- End Single Tab Content -->
        </div>
    </section>

    <!-- Footer Area -->
    <footer th:replace="user/fragments/footer :: footer"></footer>
    <!-- //Footer Area -->

    <!-- QUICKVIEW PRODUCT -->
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal__container" role="document">
                <div class="modal-content">
                    <div class="modal-header modal__header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <!-- Start product images -->
                            <div class="product-images">
                                <div class="main-image images">
                                    <img alt="big images" id="modal-drink-img">
                                </div>
                            </div>
                            <!-- end product images -->
                            <div class="product-info">
                                <h1 id="modal-drink-title"></h1>
                                <div class="rating__and__review">
                                    <ul class="rating">
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                    </ul>
                                    <div class="review">
                                        <a href="#">4 lượt đánh giá</a>
                                    </div>
                                </div>
                                <div class="price-box-3">
                                    <div class="s-price-box">
                                        <span class="new-price" id="modal-drink-sale-price"></span>
                                        <span class="old-price" id="modal-drink-original-price"></span>
                                    </div>
                                </div>
                                <div class="quick-desc" id="modal-drink-description">

                                </div>
                                <div class="social-sharing">
                                    <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Chia sẻ trên</h3>
                                        <ul class="social__net social__net--2 d-flex justify-content-start">
                                            <li class="facedrink"><a href="#" class="rss social-icon"><i class="zmdi zmdi-rss"></i></a></li>
                                            <li class="linkedin"><a href="#" class="linkedin social-icon"><i class="zmdi zmdi-linkedin"></i></a></li>
                                            <li class="pinterest"><a href="#" class="pinterest social-icon"><i class="zmdi zmdi-pinterest"></i></a></li>
                                            <li class="tumblr"><a href="#" class="tumblr social-icon"><i class="zmdi zmdi-tumblr"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="addtocart-btn">
                                    <a id="add-btn" style="color: white !important;">Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END QUICKVIEW PRODUCT -->



</div>
<!-- //Main wrapper -->
<!-- JS Files -->

<script type="text/javascript">

    let isReading = false;
    let speech = null;
    let paused = false;
    const readButton = document.getElementById("readButton");
    const description = document.getElementById("drinkDescription").innerText;

    function readDescription(){
        if (!speech) {
            speech = new SpeechSynthesisUtterance(description);
            speech.lang = 'en-EN';
            speech.rate = 1;
        }

        if (isReading) {
            if (!paused) {
                window.speechSynthesis.pause();
                paused = true;
                readButton.classList.remove("reading");
            } else {
                window.speechSynthesis.resume();
                paused = false;
                readButton.classList.add("reading");
            }
        } else {
            // Nếu chưa đọc, bắt đầu đọc
            window.speechSynthesis.speak(speech);
            isReading = true;
            readButton.classList.add("reading");
        }

        speech.onend = () => {
            isReading = false;
            paused = false;
            readButton.classList.remove("reading");
        };
    }

    let isReading2 = false;
    let paused2 = false;
    const readButton2 = document.getElementById("readButton2");
    const description2 = document.getElementById("drinkDescription2").innerText;

    function readDescription2(){
        if (!speech) {
            speech = new SpeechSynthesisUtterance(description2);
            speech.lang = 'en-EN';
            speech.rate = 1;
        }

        if (isReading2) {
            if (!paused2) {
                window.speechSynthesis.pause();
                paused2 = true;
                readButton2.classList.remove("reading");
            } else {
                window.speechSynthesis.resume();
                paused2 = false;
                readButton2.classList.add("reading");
            }
        } else {
            // Nếu chưa đọc, bắt đầu đọc
            window.speechSynthesis.speak(speech);
            isReading2 = true;
            readButton2.classList.add("reading");
        }

        speech.onend = () => {
            isReading2 = false;
            paused2 = false;
            readButton2.classList.remove("reading");
        };
    }

    function addToCart(productId) {
        var data = JSON.stringify({"productId": productId, "quantity": 1});

        $.ajax({
            type: "POST",
            url: "/cart/add-to-cart",
            contentType: "application/json",
            data: data,
            success: function (data) {
                if (data === "ok") {
                    alert("Thêm sản phẩm vào giỏ thành công!");

                    updateCartQuantity();
                } else {
                    alert("Bạn cần đăng nhập trước");
                    window.location.href = "/login";
                }
            },
            error: function () {
                alert("Lỗi thêm sản phẩm vào giỏ hàng");
            }
        });
    }

    function updateCartQuantity() {
        $.ajax({
            type: "GET",
            url: "/cart/cart-item-count",  // Replace with the actual endpoint to get cart item count
            success: function (data) {
                $("#cart-quantity").text(data); // Update the cart quantity in the header
            },
            error: function () {
                console.log("Lỗi cập nhật giỏ hàng");
            }
        });
    }

    function addToWishlist(productId) {

        $.ajax({
            type: "POST",
            url: "/wishlist/add",
            data: {
                drinkId: productId
            },
            success: function (response) {
                if (response === "ok") {
                    alert("Đã thêm vào danh sách yêu thích !")
                } else {
                    alert("Bạn cần đăng nhập trước");
                    window.location.href = "/login";
                }
            },
            error: function (xhr, status, error) {

                alert("Đã có lỗi : " + error);
            }
        });
    }


</script>

<script th:src="@{/js/user/vendor/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/user/popper.min.js}"></script>
<script th:src="@{/js/user/bootstrap.min.js}"></script>
<script th:src="@{/js/user/plugins.js}"></script>
<script th:src="@{/js/user/active.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script th:inline="javascript">

    function openModal(event, drinkId){
        let id;
        event.preventDefault();
        $.ajax({
            url: `/api/v1/drinks/get/${drinkId}`,
            method: 'GET',
            contentType: "application/json",
            data: {drinkId: drinkId},
            success: function (res) {
                $('#modal-drink-img').attr('src', res.data.coverImage);
                $('#modal-drink-title').text(res.data.title);
                $('#modal-drink-sale-price').text(res.data.salePrice);
                $('#modal-drink-original-price').text(res.data.originalPrice);
                $('#modal-drink-description').text(res.data.description);
                id = res.data.id;
                $('#product-modal').modal('show');
                $('#add-btn').attr('onclick', 'addToCart(' + id + ')');
            },
            error: function (err) {
                alert("Something went wrong: " + err);
            }
        });
        console.log(id);
        // $('#addtocart-btn').attr('onclick', 'addToCart(' + id + ')');
    }

</script>


</body>

</html>